*{
padding:0px;
margin:0px;
}


.section--one{
background-color:black;
text-align:center;
padding:10px;
color:white;
}
.section--one__menu{
display:inline-block;
font-size:20px;
border-right:2px solid black;
padding:5px;
}
.container--one,.container--two,.container--three,.container--four{
border:2px solid black;
width:230px;
display:inline-block;

margin-top:10px;
}
.section--two{
text-align:center;

}

.container--one__image,.container--two__image,.container--three__image,.container--four__image{
width:230px;
}

.container--one__desc,.container--two__desc,.container--three__desc,.container--four__desc{
font-size:20px;
}
.container--one__button,.container--two__button,.container--three__button,.container--four__button{
background-color:black;
padding:5px;
color:white;
margin:5px;
}


.section--three{
background-color:black;
text-align:center;
height:140px;
color:white;
padding-top:15px;
}

table{
margin:0 auto;
text-align:center;
}
.section--three__btn{
width:400px;
background-color:yellow;
padding:5px;

}





